*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    display: flex;
  
    position: relative;
    box-sizing: border-box;
}
.leftbar{
    display: flex;
    flex-direction: column;
    background-color: #f5fcff;
    position: fixed;
    width: 70px;

}
.logo{
    /*display: block;*/
    padding: 0;
    height: 70px;
    
    box-shadow: 0 1px 1px rgba(0,0,0,.10980392156862745);
    
}
.logo-img{
    width: 70px;
    height: 70px;
    /*display: inline-flex;*/
    margin: 8px;
    padding: 8px;
}
.logo-img img{
    width: 70%;
    margin: 0 auto;
}
.header-wrapper{
    height:100vh;
    overflow: auto;
   
    box-shadow: 0 1px 1px rgb(128,128,128);
}
.header{
    cursor: pointer;
    width: 50px;
    
}

.header a{
    height: 100%;
    display: inline-block;
    width: 100%;
    margin: 11px 2px;
    transition: all .3s ease-out;
}
a:hover{
    transform: translate(0, -5px);
}
.material-symbols-outlined{
    margin:2px ;
}

.display-container{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    width: 100vw;
    
    
    
}
.topbar{
    height: 70px;
    
    display: flex;
    background-color: #f5fcff;
   
    box-shadow: 0 1px 1px rgba(0,0,0,.10980392156862745);
    align-items: center;
}
/*.searchbar{
    display: flex;
    justify-content:space-between;
    width: 1300px;
   
   
}*/
.text{
    padding: 10px;
    display: block;
    color: #0080a5;
   
}
.searchbar {
    
    cursor: pointer;
    margin-left: auto;
    padding: 3px;

}

.notification{
    cursor: pointer;
    margin: 2px;
   
}
.portfolio{
    border-left: 1px solid #eaf2fe;
    
    width: 150px;
    display: flex;
    height: 100%;
    padding: 8px;
}
.text-portfolio{
    max-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000;
    padding-left: 10px;
    padding-right: 15px;
}
.greetings{
    text-align: left;
    font-size: 11px;
    letter-spacing: 0;
    color: #0080a5;
    opacity: .9;
}
.name{
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
    color: #0080a5;
}
.admin{
    text-align: left;
    font-size: 11px;
    letter-spacing: 0;
    color: #0080a5;
    opacity: .9;
}
.photo{
    cursor: pointer;
    color: #0080a5;
    margin-top: 8px;
    
}
